.body, ul{
  margin: 0;
  padding: 0;
}

.footer {
  margin: 0;
  width: 100%;
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 32px;
}

.footer a {
  margin: 0 20px;
  line-height: 32px;
  float: right;
  color: white;
  text-decoration: none;
}

.footer button {
  height: 32px;
}

.resources img {
  cursor: pointer;
  z-index: 1;
}

.resources tr {
  text-align: center;
}

.resources td, .resources th {
  padding: 10px 0;
}

.raw_resource_buildings {
  float: right;
}

.population_buildings {
  float: left;
}

.resources {
  float: left;
}

#farm, #quarry, #lumberCamp {
  height: 86px;
  width: 75%;
  float: left;
}

#farm {
  background: url(../images/farm.jpg);
}

#quarry {
  background: url(../images/quarry.jpg);
}

#lumberCamp {
  background: url(../images/lumberCamp.jpg);
}

#hut {
  background: url(../images/hut.jpg);
  width: 300px;
  height: 86px;
}

.building_container {
  margin-top: 10px;
  width: 300px;
}

.building {
  cursor: pointer;
}

.worker_buttons {
  float: right;
  width: 25%;
  height: 86px
}

ul li {
  list-style: none;
  height: 43px;
}

ul li button {
  height: 100%;
}

.border {
  clear: both;
  color: white;
  font-size: 25px;
  height: 25px;
  background: black;
  line-height: 25px;
  width: 100%;
  font-weight: bold;
}

.border .cost {
  float: left;
}

.cost img, .right{
  float: right;
}

.left {
  float: left;
}

#population {
  width: 300px;
  cursor: pointer;
}

#population table{
  font-size: 25px;
  float: right;
  width: 66%;
  text-align: center;
  padding-top: 17px;
}

.population_icon {
  background: url("../images/population.png");
  width: 24px;
  height: 24px;
  float: right;
}