.body {
  margin: 0;
  padding: 0;
}

.footer {
  margin: 0;
  width: 100%;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 32px;
}

.footer a {
  margin: 0 20px;
  line-height: 32px;
  float: right;
  color: white;
  text-decoration: none;
}

.footer button {
  height: 32px;
}

.resources img {
  cursor: pointer;
  z-index: 1;
}

.resources tr {
  text-align: center;
}

.resources td, .resources th {
  padding: 10px 0;
}

.building {
  clear: both;
  background: url(../images/farm.jpg);
  width: 400px;
  height: 100px;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}

.border {
  color: white;
  font-size: 25px;
  height: 25px;
  background: black;
  line-height: 25px;
  width: 100%;
  font-weight: bold;
}

.building_footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.border img {
  float: left;
}

#farm_total {
  float: right;
}

#population {
  width: 400px;
  cursor: pointer;
}

#population table{
  font-size: 25px;
  float: right;
  text-align: center;
  width: 75%;
  padding-top: 17px;
}
